.landing-page .loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(212, 237, 252, 1);
}

.landing-page .loader {
  height: 300px;
  width: 300px;
  border: 0;
}