.navigation-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.navigation-bar .background {
  display: none;
}

.navigation-bar .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 2em;
}

.navigation-nav-wrapper {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--gutter-x);
  padding-right: var(--gutter-x);
  left: 0;
}

.navigation-bar-logo,
.navigation-bar-logo-light {
  width: 13.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: unset !important;
}

.navigation-bar-logo {
  opacity: 1;
}

.navigation-bar-logo-light {
  opacity: 0;
}

html[data-theme="dark"] .navigation-bar-logo {
  opacity: 0;
}

html[data-theme="dark"] .navigation-bar-logo-light {
  opacity: 1;
}

.navigation-nav {
  display: flex;
  align-items: center;
  gap: 2em;
}

.navigation-center {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation-mobile {
  display: none;
}

.navigation-theme {
  display: flex;
  align-items: center;
}

.navigation-center .navigation-theme {
  display: none;
}

.navigation-nav a {
  --text-opacity: 0.50;
  font-weight: 500;
  color: rgba(var(--font-color-rgb), var(--text-opacity));
}

.navigation-nav a.active {
  opacity: 100%;
}

.navigation-nav .button.button-tertiary {
  padding: 0.7em 1.6em;
  border: 1px solid rgba(var(--font-color-rgb), var(--text-opacity));
}

.navigation-nav .button.button-green {
  border-color: transparent;
  --text-opacity: 1;
  color: rgba(var(--font-color-rgb), var(--text-opacity));
  font-style: italic;
  padding: 0.7em 3.25em;
}

.navigation-nav .button.button-tertiary {
  margin-right: -1em;
  font-style: italic;
}

@media only screen and (max-width: 992px) {
  .navigation-bar .background {
    display: flex;
  }

  .navigation-nav .navigation-theme {
    display: none;
  }

  .navigation-nav-wrapper {
    flex-wrap: wrap;
    z-index: -2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: -10em;
    left: 0;
    transition: 0.2s all;
    gap: 2em;
  }

  .navigation-bar.active .navigation-nav-wrapper {
    top: 3.7em;
    left: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--bg-line-color);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1), inset 0px 2px 6px rgba(0, 0, 0, 0.1)
  }

  .navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding-top: 2em;
    padding-bottom: 2em;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }

  .navigation-center {
    position: relative;
    justify-content: space-between;
  }

  .navigation-center .navigation-theme {
    display: block;
  }

  .navigation-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
  }

  .navigation-mobile div {
    height: 0.2em;
    width: 1.75em;
    background-color: rgb(var(--font-color-rgb));
    pointer-events: none;
    transition: all 0.5s;
  }

  .navigation-mobile.close div:nth-child(1) {
    transform: rotate(45deg) translate(0.45em, 0.4em);
  }

  .navigation-mobile.close div:nth-child(2) {
    opacity: 0;
  }

  .navigation-mobile.close div:nth-child(3) {
    transform: rotate(-45deg) translate(0.45em, -0.4em);
  }

  .section1 {
    padding-top: 5em;
  }
}

@media only screen and (max-width: 576px) {
  .navigation-nav-wrapper {
    flex-wrap: nowrap;
    padding-top: 2em !important;
    padding-bottom: 5em !important;
    gap: 2em;
  }

  .navigation-nav .button {
    position: absolute;
    white-space: nowrap;
    left: 50%;

    bottom: 1em;
  }

  .navigation-nav .button.button-tertiary {
    transform: translateX(-120%);
  }

  .navigation-nav .button.button-yellow {
    transform: translateX(20%);
  }
}